body {
    background-color: #2e2e2e;
    color: #e0e0e0;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

h1, h2 {
    color: #e0e0e0;
    margin-bottom: 20px;
}

form {
    margin: 20px auto;
}

input[type="text"], button {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #663399;
}

button {
    background-color: #3e3e3e;
    color: #e0e0e0;
    border: 2px solid #9b51e0;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #9b51e0;
    color: #2e2e2e;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px;
}

.container {
    max-width: 600px;
    padding: 20px;
}
